html, body {
    height: 100%;
}
.capitalize {
    text-transform: capitalize;
}
.navbar-static-top.transparent {
    background-color: transparent;
    position: absolute;
    color: whitesmoke;
    text-shadow: 1px 1px #333;
}
.navbar-static-top.transparent .navbar-brand {
    color: whitesmoke;
    text-shadow: 1px 1px #333;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -51px; /* the bottom margin is the negative value of the footer's height */
    padding-bottom: 51px;
}
footer, .push {
    height: 51px; /* '.push' must be the same height as 'footer' */
}

.jumbotron {
    background: url(../img/pool-table.jpg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px #333;
    padding-bottom: 70px;
    padding-top: 90px;
    color: whitesmoke;
}
.list-group-item.no-sides {
    border-left: 0px;
    border-right: 0px;
}
.list-group-item.no-sides:first-child, .list-group-item.no-sides:last-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.list-group-item.head {
    background-color: #f9f9f9;
}
.height-pad {
    min-height: 200px;
}
