html, body {
    height: 100%;
}
.navbar-static-top.transparent {
    background-color: transparent;
    position: absolute;
    color: whitesmoke;
    text-shadow: 1px 1px #333;
}
.navbar-static-top.transparent .navbar-brand {
    color: whitesmoke;
    text-shadow: 1px 1px #333;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -51px; /* the bottom margin is the negative value of the footer's height */
    padding-bottom: 51px;
}
footer, .push {
    height: 51px; /* '.push' must be the same height as 'footer' */
}

.jumbotron {
    background: url(../img/pool-table.jpg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px #333;
    padding-bottom: 70px;
    padding-top: 90px;
    color: whitesmoke;
}
.list-group-item.no-sides {
    border-left: 0px;
    border-right: 0px;
}
.list-group-item.no-sides:first-child, .list-group-item.no-sides:last-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.list-group-item.head {
    background-color: #f9f9f9;
}
.wait-time {
    min-height: 40px;
}
.animate.ng-enter,
.animate.ng-leave {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  transition:all linear 0.5s;
  transform: translate3d(0,0,0);
}
.animate.fast.ng-enter,
.animate.fast.ng-leave {
  -webkit-transition:all linear 0.2s;
  -moz-transition:all linear 0.2s;
  transition:all linear 0.2s;
  transform: translate3d(0,0,0);
}

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
  opacity:0;
}
.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  opacity:1;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
}