<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Maytee Chinavanichkit">
    <title>Pool Queue</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        [ng-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="css/main.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--[if lte IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.2/jquery.xdomainrequest.min.js"></script>
    <![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-cookies.min.js"></script>


</head>
<body ng-app="poolQueue"  ng-controller="MainController">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href>Pool Queue</a>
            </div>
            <div class="navbar-collapse collapse">

            </div><!--/.navbar-collapse -->
        </div>
    </div>
    <div class="wrapper">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <h1 class="text-center">
                    <span ng-cloak ng-if="queueLength !== undefined"><ng-pluralize count="queueLength"
                                                                                   when="{'0': 'The table is open.',
                         'one': '1 person is ahead of you.',
                         'other': '{} people are ahead of you.'}">
                    </ng-pluralize></span>
                        <span ng-if="queueLength === undefined">Loading chumps ahead of you</span>
                    </h1>
                </div>
                <br/>

                <div class="row">
                    <form ng-submit="addUser()" role="form">
                        <div class="form-group col-md-8 col-md-offset-2 text-center">
                            <input ng-model="userName" type="text" placeholder="Add your name to the queue" class="form-control" ng-enter>
                        </div>
                    </form>
                </div>

                <div ng-cloak class="row">
                    <h4 ng-if="queueLength" class="text-center">Estimated wait time is: ~{{queueLength * 10}} minutes</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div ng-cloak ng-if="error" class="alert alert-danger">
                <h4>Error!</h4>
                <p ng-if="error.message">
                    {{error.message}}
                </p>
            </div>

            <div ng-cloak class="panel panel-default" ng-if="queue">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-play"></span> Now Playing
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="row text-center">
                        <div class="col-sm-offset-1 col-sm-4">
                            <h2 id="{{queue[0].id}}">{{queue[0].attributes.name}}</h2>
                            <button action="removeFromQueue(item)" item="queue[0]" confirm-button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                        </div>
                        <div class="col-sm-2">
                            <h3>vs.</h3>
                        </div>
                        <div class="col-sm-4" >
                            <h2 ng-if="queue.length > 1" id="{{queue[1].id}}">{{queue[1].attributes.name}}</h2>
                            <h2 ng-if="queue.length <= 1">Awaiting Challenger</h2>
                            <button ng-if="queue.length > 1" action="removeFromQueue(item)" item="queue[1]" confirm-button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div ng-cloak class="panel panel-default" ng-if="queue && queue.length > 2" >
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-time"></span> The Line
                    </h2>
                </div>
                <br />
                <div class="panel-body">
                    <ul  class="list-group">
                        <li class="row list-group-item no-sides head">
                            <span class="col-xs-1"><h4>#</h4></span>
                            <span class="col-xs-7"><h4>Chumps</h4></span>
                            <span class="col-xs-2"><h4>Added At</h4></span>
                            <span class="col-xs-2"></span>
                        </li>
                        <li id="{{item.id}}" class="row list-group-item no-sides" ng-repeat="item in queue" ng-class="{'list-group-item-success': myId == item.id}" ng-if="!item.attributes.playing">
                            <span class="col-xs-1"><h5>{{$index + 1}}</h5></span>
                            <span class="col-xs-7"><h4>{{item.attributes.name}} <small ng-if="myId == item.id">My wait time is about ~{{($index - 1) * 10}} minutes</small></h4></span>
                            <span class="col-xs-2"><h5>{{item.createdAt | date:'MMM dd @ h:mma'}}</h5></span>
                            <span class="col-xs-2 text-right">
                                <button action="removeFromQueue(item)" item="item" confirm-button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                            </span>
                        </li>

                    </ul>
                </div>
            </div>


            <br />

            <div class="row" ng-if="queue">
                <div class="text-center">
                    <button action="removeAll()" item="" double-click-confirm-button class="btn btn-success"><span class="glyphicon glyphicon-trash"></span> Clear Queue</button>
                </div>
            </div>

            <br />
        </div> <!-- /container -->
    </div>
    <footer>
        <div class="container">
            <hr />
            <p>&copy; Quantcast Corporation 2014</p>
        </div>

    </footer>

    <script type="text/javascript" src="js/poolQueueApp.js"></script>

</body>
</html>